{% extends "network/layout.html" %} {% block body %}
<div class="container-fluid">
	<h1>All posts</h1>

	{% if user.is_authenticated %}

	<form action="{% url 'create-post' %}" method="post" class="mt-4">
		{% csrf_token %} {% comment %} Post {% endcomment %}
		<div class="card gedf-card">
			<div class="card-header">
				<ul
					class="nav nav-tabs card-header-tabs"
					id="myTab"
					role="tablist"
				>
					<li class="nav-item">
						<a
							class="nav-link active"
							id="posts-tab"
							data-toggle="tab"
							href="#posts"
							role="tab"
							aria-controls="posts"
							aria-selected="true"
							>Make a publication</a
						>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="tab-content" id="myTabContent">
					<div
						class="tab-pane fade show active"
						id="posts"
						role="tabpanel"
						aria-labelledby="posts-tab"
					>
						<div class="form-group">
							<label class="sr-only" for="message">post</label>
							<textarea
								name="content"
								class="form-control"
								id="message"
								rows="3"
								placeholder="What are you thinking?"
							></textarea>
						</div>
					</div>
				</div>
				<div class="btn-toolbar justify-content-between">
					<div class="btn-group">
						<button type="submit" class="btn btn-primary">
							Share
						</button>
					</div>
				</div>
			</div>
		</div>
		{% comment %} End Post {% endcomment %}
	</form>

	{% endif %} {% for post in posts_obj %} {% comment %} Post {% endcomment %}
	<div class="card gedf-card mt-5">
		<div class="card-header">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex justify-content-between align-items-center">
					<div class="ml-2">
						<div class="h5 m-0">@{{post.author.username}}</div>
						<div class="h7 text-muted">
							{{post.author.first_name}} {{post.author.last_name}}
						</div>
					</div>
				</div>

				{% if user.is_authenticated %} {% if user == post.author %}
				<div>
					<div class="dropdown">
						<button
							class="btn btn-link dropdown-toggle"
							type="button"
							id="gedf-drop1"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<i class="fa fa-ellipsis-h"></i>
						</button>
						<div
							class="dropdown-menu dropdown-menu-right"
							aria-labelledby="gedf-drop1"
						>
							<div class="h6 dropdown-header">Configuration</div>
							<a
								class="dropdown-item"
								href="#"
								data-toggle="modal"
								data-target="#exampleModal"
								>Edit</a
							>
						</div>
					</div>
				</div>
				{% endif %} {% endif %}
			</div>
		</div>
		<div class="card-body">
			<div class="text-muted h7 mb-2">
				<i class="fa fa-clock-o"></i>{{post.created}}
			</div>
			<p class="card-text">{{post.content}}</p>
		</div>
		<div class="card-footer">
			<a href="#" class="card-link"
				><i class="fa fa-gittip"></i> Like 0</a
			>
		</div>

		{% comment %} End Post {% endcomment %}

		<!-- Modal -->
		<div
			class="modal fade"
			id="exampleModal"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">
							Modal title
						</h1>
						<button
							type="button"
							class="btn-close"
							data-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<div>
							<label class="sr-only" for="message">post</label>
							<textarea
								name="content"
								class="form-control"
								id="message"
								rows="3"
								placeholder="What are you thinking?"
							>
{{post.content}}</textarea
							>
						</div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			{% if posts_obj.has_previous %}
			<li class="page-item">
				<a
					class="page-link"
					href="?page={{posts_obj.previous_page_number}}"
					>Previous</a
				>
			</li>
			{% endif %} {% for current_page in posts_obj.paginator.page_range %}
			<li class="page-item">
				<a class="page-link" href="?page={{current_page}}"
					>{{current_page}}</a
				>
			</li>
			{% endfor %} {% if posts_obj.has_next %}

			<li class="page-item">
				<a class="page-link" href="?page={{posts_obj.next_page_number}}"
					>Next</a
				>
			</li>
			{% endif %}
		</ul>
	</nav>
	{% endblock %}
</div>
