{% extends "network/layout.html" %} {% block body %}
<div class="container-fluid">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<div class="h5">@{{user_data.username}}</div>
				<div class="h7 text-muted">
					Fullname: {{user_data.first_name}} {{user_data.last_name}}
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="h6 text-muted">Followers</div>
					<div class="h5">{{user_data.followers}}</div>
				</li>
				<li class="list-group-item">
					<div class="h6 text-muted">Following</div>
					<div class="h5">{{user_data.followings}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock body %}
