{% extends "network/layout.html" %} {% block body %}
<div class="container-fluid gedf-wrapper">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="h5">@ {{user_data.username}}</div>
					<div class="h7 text-muted">
						Fullname : {{user_data.first_name}}
						{{user_data.last_name}}
					</div>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="h6 text-muted">Followers</div>
						<div class="h5">{{followers}}</div>
					</li>
					<li class="list-group-item">
						<div class="h6 text-muted">Following</div>
						<div class="h5">{{followings}}</div>
					</li>

					<li class="list-group-item">
						{% if user.is_authenticated %} 
							{% if request.path|cut:'/profiles/' == request.user.username %} 
								Sorry, you cannot follow your self 
							{% else %}
								{% if can_follow %}
									<button onClick="">Follow me</button>
								{% else %}
									
									<button onClick="">Unfollow</button>
								{% endif %}
								
							{% endif %} 
						{% else %} 
							Login to follow the user 
						{% endif %}
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-8 gedf-main">
			<!--- \\\\\\\Post-->

			{% for post in posts %}

			<div class="card gedf-card">
				<div class="card-header">
					<div
						class="d-flex justify-content-between align-items-center"
					>
						<div
							class="d-flex justify-content-between align-items-center"
						>
							<div class="ml-2">
								<div class="h5 m-0">
									@{{post.author.username}}
								</div>
								<div class="h7 text-muted">
									{{post.user.first_name}}
									{{post.user.last_name}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="text-muted h7 mb-2">
						<i class="fa fa-clock-o"></i>{{post.created}}
					</div>

					<p class="card-text">{{post.content}}</p>
				</div>
				<div class="card-footer">
					<a href="#" class="card-link"
						><i class="fa fa-mail-forward"></i> Like 0</a
					>
				</div>
			</div>
			{% endfor %}

			<!-- Post /////-->

			<!-- Pagination /////-->

			<nav aria-label="Page navigation example">
				<ul class="pagination">
					{% if posts.has_previous %}
					<li class="page-item">
						<a
							class="page-link"
							href="?page={{posts.previous_page_number}}"
							>Previous</a
						>
					</li>
					{% endif %}
					<!-- Pagination /////-->

					{% for current_page in posts.paginator.page_range %}
					<li class="page-item">
						<a class="page-link" href="?page={{current_page}}"
							>{{current_page}}</a
						>
					</li>
					{% endfor %} {% if posts.has_next %}
					<li class="page-item">
						<a
							class="page-link"
							href="?page={{posts.next_page_number}}"
							>Next</a
						>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock body%}
